<footer>
  <div class="footer-content">
    <p>Made by <a href="https://www.instagram.com/soy.acevedo_/">Kevin Acevedo </a>🦉</p>
    <div class="social-buttons">

      <a href="https://www.linkedin.com/in/kevin-julian-acevedo-salazar/" class="social-button social-button--linkedin" aria-label="LinkedIn">
        <fa-icon class="fa-lg linkedin-icon" [icon]="faLinkedin"></fa-icon>
      </a>
      <a href="https://github.com/kevinAcevedo240" class="social-button social-button--github" aria-label="GitHub">
        <fa-icon class="fa-lg" [icon]="faGithub"></fa-icon>
      </a>

    </div>

  </div>
</footer>
